html,
body {
  padding: 0;
  margin: 0;
  background-color: #f3f4f6;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 13px;
  line-height: 19px;
    color: #898989;
}

label {
  font-size: 13px;
}

h1 {
  font-size: 32.348px;
}

h2 {
  font-size: 18.72px;
  color: #b870ef;
}

h3 {
  font-size: 15.6px;
  color: #b870ef;
}

* {
  box-sizing: border-box;
}
